<h4>Item info: <%= @item.name %></h4>
<div class="mdl-grid">
    <ul class="mdl-list">
        <li class="mdl-list__item">
            <strong>Name:&nbsp;</strong>
            <%= @item.name %>
        </li>

        <li class="mdl-list__item">
            <strong>Price:&nbsp;</strong>
            £<%= @item.price %>
        </li> 

        <li class="mdl-list__item">
            <strong>Description:&nbsp;</strong>
            <%= @item.description %>
        </li>
    </ul>
</div>